.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #15848f;
}

a {
    color: #1798a5;
}

.side-nav li a:not(.button) {
    color: #15848f;
}

.side-nav li a:not(.button):hover {
    color: #15848f;
}

header {
    background-color: #d33c44;
    box-shadow: 0 1px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0;
}

header .header-title {
    padding-left: 80px;
}

legend {
    color: #15848f;
}

.row {
    max-width: 80rem;
}

.actions .columns {
    border-left: 5px solid #15848f;
    padding: 32px 20px;
    padding-left: 15px;
}

.actions .columns h3 {
    color: #15848f;
}

.related table {
    border: 0;
    table-layout: fixed;
    width: 100%;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    font-size: 16px;
    margin-right: 2rem;
    margin-top: -80px;
}

.header-help span {
    background-color: #0097a7;
    border-radius: 1000px;
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.25rem 0.5rem 0.375rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: #000000;
}

ul.pagination li.active a {
    background-color: #dce47e;
    color: #fff;
    cursor: default;
    font-weight: bold;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    display: inline-block;
    float: none;
}

.paginator p {
    color: rgba(0, 0, 0, 0.54);
    text-align: right;
}

.asc:after {
    content: ' \2193';
}
.desc:after {
    content: ' \2191';
}

.form .error-message {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: -1px;
    padding: 0.375rem 0.5625rem 0.5625rem;
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    color: #c3232d;
    content: ' *';
}

select[multiple] {
    background: none;
    min-height: 150px;
}
input[type='checkbox'],
input[type='radio'] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    margin-right: 10px;
    width: auto;
}

.error label,
.error label.error {
    color: #c3232d;
}

.view h2 {
    color: #6f6f6f;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .numbers {
    background-color: #b7e3ec;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    margin-right: 0.7rem;
}

.view .columns.dates {
    background-color: #dce47e;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    margin-right: 0.7rem;
}

.view .columns.booleans {
    background-color: #8d6e65;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    margin-right: 0.7rem;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader,
.view .dates .subheader {
    color: #747474;
}
.view .booleans .subheader {
    color: #e9e9e9;
}

.view .texts .columns {
    border-bottom: 1px solid #eee;
    margin-top: 1.2rem;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    clear: both;
    display: block;
    margin-bottom: 18px;
    padding: 7px 14px;
}

.cake-debug,
.notice,
p.notice {
    background: #ffcc00;
    color: #000000;
}

.cake-error,
p.error {
    background: #c3232d;
    color: #fff;
}

pre {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.74);
    margin: 15px 0;
    padding: 5px;
}

.cake-error .cake-stack-trace {
    margin-top: 10px;
}

.cake-stack-trace code {
    background: inherit;
    border: 0;
}

.cake-code-dump .code-highlight {
    background-color: #ffc600;
    display: block;
}

.cake-error a,
.cake-error a:hover {
    color: #fff;
    text-decoration: underline;
}

.checks {
    background-color: #b7e3ec;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    color: #626262;
    margin-bottom: 2em;
    padding: 30px;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    border-radius: 15px;
    display: inline-block;
    font-size: 28px;
    height: 12px;
    left: -11px;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 12px;
}

.checks .success:before {
    color: green;
    content: '✓';
    margin-right: 9px;
}

.checks .problem:before {
    color: red;
    content: '✘';
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #01545b;
}

.top-bar.expanded,
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #116d76;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #308e97;
    background-color: #308e97;
}

.side-nav li.heading {
    color: #1798a5;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.4375rem 0.875rem;
    text-transform: uppercase;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    border: 0;
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
}

table {
    background: #fff;
    border: none;
    margin-bottom: 1.25rem;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798a5;
}

table tr th {
    border-bottom: 2px solid #1798a5;
    color: #1798a5;
    font-size: 0.875rem;
    padding: 0.5625rem 0.625rem;
    text-align: left;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    margin: 1.125rem 0;
    padding: 1.25rem;
}

fieldset legend {
    border-bottom: 2px solid #1798a5;
    line-height: 2rem;
    width: 100%;
}

.form button[type='submit'] {
    box-shadow: none;
    float: right;
    text-transform: uppercase;
}

.form button:hover,
.form button:focus {
    background: #be840b;
    box-shadow: none;
}

button {
    background: #966600;
}

div.message {
    background-color: #a0d3e8;
    color: #626262;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 50px;
    line-height: 2.5em;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    right: 15px;
    text-align: center;
    top: 15px;
    transition: height 300ms ease-out 0s;
    z-index: 999;
}

div.message:before {
    background-color: #fff;
    border-radius: 15px;
    color: #a0d3e8;
    content: 'i';
    display: inline-block;
    font-size: 20px;
    height: 12px;
    left: -11px;
    line-height: 0;
    padding: 12px 14px 12px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 12px;
}

div.message.error {
    background-color: #c3232d;
    color: #fff;
}

div.message.error:before {
    color: #c3232d;
    content: 'x';
    padding: 11px 16px 14px 7px;
}

div.message.hidden {
    height: 0;
}

.vertical-table th {
    border: none;
    color: #1798a5;
    font-size: 0.875rem;
    padding: 0.5625rem 0.625rem;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    min-height: 92%; /* full height almost always */
    overflow: hidden;
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media (max-width: 640px) {
    #actions-sidebar {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }
}

.content h3 {
    color: #be140b;
    margin-bottom: 20px;
    padding-bottom: 0.5rem;
}

.content h4 {
    border-bottom: 2px solid #be140b;
    color: #be140b;
    margin-bottom: 20px;
    padding-bottom: 0.5rem;
}

.content .related h4 {
    border-bottom: 0;
    color: #4d8f97;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 0.5rem;
}

table td {
    vertical-align: top;
    word-break: break-all;
}
